/**{
    font-family: 'Console', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}*/

.sidemenu-container{
    width:50%;
    height: 100vh;/*altura de la pantalla*/
    background-color: rgb(255, 112, 136);
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:20px
}

.item{
        display:flex;
        
        justify-content: space-around;
        align-items:center;
        gap:20px;
        margin-left:5px;
    }
.item p{
        
        width:75px;
        text-wrap: wrap;
        display: flex;
        gap:10px;
        font-size:15px;
        color: white;
    }
.items p {/*nombre*/
    font-size: 10px;
    width:75px;
    text-wrap: wrap;
    display: flex;
    gap:10px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}
.items {
    display:flex;
        
        justify-content: space-around;
        align-items:center;
        gap:3px;
        margin-left:3px;
}
.button .btn {
    border: none; 
    padding: 8px 12px; /* Padding reducido */
    transition: all 0.3s ease; 
    margin: 5px; /* Margen reducido */ 
    border-radius: 20px; 
    font-size: 10px;
  }
  
  .button .btn:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  }
  
  .button .btn:nth-child(1):hover { /* Celeste para el primer botón */
    background-color: lightblue;
  }
  
  .button .btn:nth-child(2):hover { /* Lila para el segundo botón */
    background-color: rgb(235, 192, 255);
  }
  
  
  
  .img1{
    border: none;
    background-color: transparent;
    color:transparent;
  }
